/* Global classes */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  flex-direction: column;
}
/* end global classes */

.App {
  width: 100vw;
  height: 100vh;
}

.TaskTitle,
#addTaskBtn {
  width: 10em;
  height: 2.4em;
  margin: 0.4em;
  border-radius: 0.4em;
  border: none;
  background-color: #ddd;
  transition: 0.2s;
}

.TaskTitle:hover,
#addTaskBtn:hover {
  border: 2px solid #000;
}

.TaskTitle:hover,
#addTaskBtn:hover,
.btn:hover {
  cursor: pointer;
}

.EditPage {
  position: absolute;
  width: 80vw;
  height: 80vh;
  right: 10vw;
  top: 10vh;
  z-index: 10;
  background-color: rgb(215, 241, 180);
  border: 1px solid black;
  border-radius: 0.4em;
}

.closeEdit {
  width: 1em;
  height: 1em;
  background-color: #fff;
  color: red;
  font-weight: bold;
  font-size: 1.2em;
  border: 1px black solid;
  border-radius: 0 0.3em;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.4s;
}

.closeEdit:hover {
  color: #fff;
  background-color: red;
}

.hideEditPage {
  display: none;
}

.textarea {
  width: 60vw;
  resize: none;
  padding: 0.4em 0 0;
  text-align: center;
  border-radius: 0.4em;
}

#textareaTitle {
  height: 6vh;
  margin: 1em;
}

#textareaDetail {
  height: 40vh;
  justify-self: flex-end;
}

.editBtns {
  width: 30vw;
  justify-content: space-evenly;
}

.editBtns button {
  width: 3.4em;
  height: 1.6em;
  margin: 0.4em;
  border-radius: 0.4em;
  color: #fff;
  transition: 0.4s;
  opacity: 0.6;
}

.editBtns button:hover {
  opacity: 1;
}

#save {
  background-color: rgba(26, 173, 26, 0.664);
}

#delete {
  background-color: rgba(182, 25, 25, 0.637);
}

@media screen and (max-width: 426px) {
  .textarea {
    width: 70vw;
  }
  .editBtns {
    width: 70vw;
  }
}
